$color-acent: #4ca893;

$color-text: #000;
$color-text-header: #fff;
$color-icons-title: #262626;
$color-icons-text: #68686b;

$color-btn-bg: #4ca893;
$color-btn-bg-hover: #262626;

$content-width: 1200px;