extend layout/main

block var
	- var pageName = 'Каталог';

block content

	.catalog 
		.container
			h2.title Каталог
			.catalog__wrapper 
				.categories
					h5.categories__title Категории:
					ul
						li 
							a(href="#") Камины
						li 
							a(href="#") Фасады 
				.items-list
					.items
						.slide.slide-catalog
							.slide__header
								span Столешнца
								h5 Черная галька
							.slide__img
								.slide__info
									.slide__text
										span 
											strong Размер: 
											| 2 метра
										span 
											strong Материал: 
											|какой-то
								img(src="./img/sales/1.jpg", alt="Черная галька")
							.slide__footer
								.price 12 000 руб.
								i.icon-basket.icon-basket-active
						.slide.slide-catalog 
							.slide__header
								span Столешнца
								h5 Черная галька
							.slide__img
								.slide__info
									.slide__text
										span 
											strong Размер: 
											| 2 метра
										span 
											strong Материал: 
											|какой-то
								img(src="./img/sales/1.jpg", alt="Черная галька")
							.slide__footer
								.price 12 000 руб.
								i.icon-basket.icon-basket-active
						.slide.slide-catalog 
							.slide__header
								span Столешнца
								h5 Черная галька
							.slide__img
								.slide__info
									.slide__text
										span 
											strong Размер: 
											| 2 метра
										span 
											strong Материал: 
											|какой-то
								img(src="./img/sales/1.jpg", alt="Черная галька")
							.slide__footer
								.price 12 000 руб.
								i.icon-basket.icon-basket-active
						.slide.slide-catalog 
							.slide__header
								span Столешнца
								h5 Черная галька
							.slide__img
								.slide__info
									.slide__text
										span 
											strong Размер: 
											| 2 метра
										span 
											strong Материал: 
											|какой-то
								img(src="./img/sales/1.jpg", alt="Черная галька")
							.slide__footer
								.price 12 000 руб.
								i.icon-basket.icon-basket-active
						.slide.slide-catalog 
							.slide__header
								span Столешнца
								h5 Черная галька
							.slide__img
								.slide__info
									.slide__text
										span 
											strong Размер: 
											| 2 метра
										span 
											strong Материал: 
											|какой-то
								img(src="./img/sales/1.jpg", alt="Черная галька")
							.slide__footer
								.price 12 000 руб.
								i.icon-basket.icon-basket-active
						.slide.slide-catalog 
							.slide__header
								span Столешнца
								h5 Черная галька
							.slide__img
								.slide__info
									.slide__text
										span 
											strong Размер: 
											| 2 метра
										span 
											strong Материал: 
											|какой-то
								img(src="./img/sales/1.jpg", alt="Черная галька")
							.slide__footer
								.price 12 000 руб.
								i.icon-basket.icon-basket-active
						.slide.slide-catalog 
							.slide__header
								span Столешнца
								h5 Черная галька
							.slide__img
								.slide__info
									.slide__text
										span 
											strong Размер: 
											| 2 метра
										span 
											strong Материал: 
											|какой-то
								img(src="./img/sales/1.jpg", alt="Черная галька")
							.slide__footer
								.price 12 000 руб.
								i.icon-basket.icon-basket-active
						.slide.slide-catalog 
							.slide__header
								span Столешнца
								h5 Черная галька
							.slide__img
								.slide__info
									.slide__text
										span 
											strong Размер: 
											| 2 метра
										span 
											strong Материал: 
											|какой-то
								img(src="./img/sales/1.jpg", alt="Черная галька")
							.slide__footer
								.price 12 000 руб.
								i.icon-basket.icon-basket-active
						.slide.slide-catalog 
							.slide__header
								span Столешнца
								h5 Черная галька
							.slide__img
								.slide__info
									.slide__text
										span 
											strong Размер: 
											| 2 метра
										span 
											strong Материал: 
											|какой-то
								img(src="./img/sales/1.jpg", alt="Черная галька")
							.slide__footer
								.price 12 000 руб.
								i.icon-basket.icon-basket-active
						.slide.slide-catalog 
							.slide__header
								span Столешнца
								h5 Черная галька
							.slide__img
								.slide__info
									.slide__text
										span 
											strong Размер: 
											| 2 метра
										span 
											strong Материал: 
											|какой-то
								img(src="./img/sales/1.jpg", alt="Черная галька")
							.slide__footer
								.price 12 000 руб.
								i.icon-basket.icon-basket-active
						.slide.slide-catalog 
							.slide__header
								span Столешнца
								h5 Черная галька
							.slide__img
								.slide__info
									.slide__text
										span 
											strong Размер: 
											| 2 метра
										span 
											strong Материал: 
											|какой-то
								img(src="./img/sales/1.jpg", alt="Черная галька")
							.slide__footer
								.price 12 000 руб.
								i.icon-basket.icon-basket-active
						.slide.slide-catalog 
							.slide__header
								span Столешнца
								h5 Черная галька
							.slide__img
								.slide__info
									.slide__text
										span 
											strong Размер: 
											| 2 метра
										span 
											strong Материал: 
											|какой-то
								img(src="./img/sales/1.jpg", alt="Черная галька")
							.slide__footer
								.price 12 000 руб.
								i.icon-basket.icon-basket-active
					.items-pages
						a(href="#").items-pages__active 1
						a(href="#") 2
						a(href="#") 3
						a(href="#") 4
						a(href="#") 5

block footer
	include _partianHtml/_footer.pug