$color-acent: #03a9d6;
// $color-bg: #fff;
// $color-bg-light: #eee;
$color-button-bg: linear-gradient(0deg, #0088bb 0%, #04b4e0 100%);;

// $color-subtitle: #47474a;
$color-text: #000;
$color-banner-text: #4e4e4e;

$content-width: 970px;