$base-color-gradient: linear-gradient(to right top, #e99933, #ffc822);
$yellow: #ffc822;
$gray: #ddd;

$gray-bg: #f7f7f7;
$white-bg: #fff;

// media break poits
$lg-max: 900px;
$md-max: 750px;
$sm-max: 450px;

$max-width: 1150px;

// отступы
$block-padding-bottom: 5rem;