.footer.main-nav
	.container

		.nav-row
			a(href="#").logo
				img(src="img/logo.png" alt="HomeStone")
			
			include ../_partianHtml/main-nav.pug
			
			.phone
				a(href="tel:+79121086428").phone__number +7 (912) 108-64-28
				span.phone__time Ежедневно с 9:00 до 22:00

		.footer__bottom
			hr
			p.copy © HouseStone.ru - всё из камня и не только. Все права защищены
			a(href="#").go-top Подняться наверх
				.question__arrow.question__arrow-go-top



script(src="./libs/jquery-3.3.1.min.js")
<script src="libs/slick/slick.min.js"></script>
script(src="./js/script.js")