nav.nav
	a(href="catalog.html").nav__item Каталог
	a(href="#").nav__item Акции
	a(href="#").nav__item О нас
	a(href="#").nav__item Контакты
	a(href="#").nav__item Дизайн

nav.nav-tab
	label(for="catalog")
		input(type="checkbox" id="catalog")
		span.nav__item.title Каталог
		ul.nav-tab__submenu
			li
				a(href="#").nav-tab__subitem Камины порталы из камня
			li
				a(href="#").nav-tab__subitem Фасадная облицовка камнем
			li
				a(href="#").nav-tab__subitem Раковины и ванны из камня
			li
				a(href="#").nav-tab__subitem Лестницы из камня
			li
				a(href="#").nav-tab__subitem Столешницы из камня
			li
				a(href="#").nav-tab__subitem Интерьерная облицовка камнем
			li
				a(href="#").nav-tab__subitem Камень в ландшафтном дизайне 
	
	a(href="#").nav__item.title Акции
	a(href="#").nav__item.title О нас
	a(href="#").nav__item.title Контакты
	a(href="#").nav__item.title Дизайн