.main
	.slider
		.slider__item
			img(src="./img/main/2.jpg", alt="Облицовка домов")
			.slider__info
				h2.slider__title Облицовка <br>домов
				p.slider__text Печь-камин Tena Plamen хорватского производства - это вневременная чугунная классика. Печь-камин Tena Plamen справляется с задачей отопления дома максимально эффективно, экономно, безопасно и комфортно.
				a(href="#").slider__button Подробнее
		.slider__item
			img(src="./img/main/1.jpg", alt="Облицовка домов")
			.slider__info
				h2.slider__title Облицовка <br>домов
				p.slider__text Печь-камин Tena Plamen хорватского производства - это вневременная чугунная классика. Печь-камин Tena Plamen справляется с задачей отопления дома максимально эффективно, экономно, безопасно и комфортно.
				a(href="#").slider__button Подробнее
		.slider__item
			img(src="./img/main/3.jpg", alt="Облицовка домов")
			.slider__info
				h2.slider__title Облицовка <br>домов
				p.slider__text Печь-камин Tena Plamen хорватского производства - это вневременная чугунная классика. Печь-камин Tena Plamen справляется с задачей отопления дома максимально эффективно, экономно, безопасно и комфортно.
				a(href="#").slider__button Подробнее
		.slider__item
			img(src="./img/main/4.jpg", alt="Облицовка домов")
			.slider__info
				h2.slider__title Облицовка <br>домов
				p.slider__text Печь-камин Tena Plamen хорватского производства - это вневременная чугунная классика. Печь-камин Tena Plamen справляется с задачей отопления дома максимально эффективно, экономно, безопасно и комфортно.
				a(href="#").slider__button Подробнее

		.slider__item
			img(src="./img/main/5.jpg", alt="Облицовка домов")
			.slider__info
				h2.slider__title Облицовка <br>домов
				p.slider__text Печь-камин Tena Plamen хорватского производства - это вневременная чугунная классика. Печь-камин Tena Plamen справляется с задачей отопления дома максимально эффективно, экономно, безопасно и комфортно.
				a(href="#").slider__button Подробнее
		.slider__item
			img(src="./img/main/6.jpg", alt="Облицовка домов")
			.slider__info
				h2.slider__title Облицовка <br>домов
				p.slider__text Печь-камин Tena Plamen хорватского производства - это вневременная чугунная классика. Печь-камин Tena Plamen справляется с задачей отопления дома максимально эффективно, экономно, безопасно и комфортно.
				a(href="#").slider__button Подробнее
		.slider__item
			img(src="./img/main/7.jpg", alt="Облицовка домов")
			.slider__info
				h2.slider__title Облицовка <br>домов
				p.slider__text Печь-камин Tena Plamen хорватского производства - это вневременная чугунная классика. Печь-камин Tena Plamen справляется с задачей отопления дома максимально эффективно, экономно, безопасно и комфортно.
				a(href="#").slider__button Подробнее
		.slider__item
			img(src="./img/main/8.jpg", alt="Облицовка домов")
			.slider__info
				h2.slider__title Облицовка <br>домов
				p.slider__text Печь-камин Tena Plamen хорватского производства - это вневременная чугунная классика. Печь-камин Tena Plamen справляется с задачей отопления дома максимально эффективно, экономно, безопасно и комфортно.
				a(href="#").slider__button Подробнее