$color-bg-button: #00af5a;
$color-bg-price-button: #e3776d;

$color-acent: #0068d9;
$color-bg: #fff;
$color-bg-light: #e9eff6;

$color-title: #464646;
$color-title-lines: #d5d5d5;

$header-width: 1150px;
$content-width: 960px;