$color-acent: #d6006f;
$color-bg: #fff;
$color-acent-bg:#fceff4;
$color-footer-bg: #0a0808;

$color-btn-bg: #d10060;

// $color-subtitle: #47474a;
$color-text: #000000;
$color-footer-text: #ffffff;

$content-width: 1125px;